<%- contentFor('header') %>
<h1 class="page-title"><%= _locals.title %></h1>

<%- contentFor('footer') %>
<h1>This is the footer</h1>

<% /*
Content for the `body` section should either be the first thing defined
in the view, or it has to be declared just like any other section.
*/ %>
<%- contentFor('body') %>

<!-- This is part of the body. Will hard Code in but-->
<!-- todo: eventually willl dynamically load content from app.js. based on year -->
<button>

</button>
<figure class="songSection">
    <figcaption>Song from Year</figcaption>
    <audio
        controls
        src="./media/sample-3s.mp3">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure>


<style>
  .page-message { color: blue }
  figure {margin: 0;}
</style>

<script>
  // Script content!
</script>

<h1 class="page-message"><%= message %></h1>
